body,
html {
  margin: 0;
  padding: 0;
}

.card_slider {
  border: 0 !important;
}

.link {
  color: #000;
  text-decoration: none;
}

.active-link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.img_card_slide {
  height: 225px;
}

.body_card_slider {
  padding: 0 8px !important;
  height: 210px;
}

.body_card_item {
  padding: 10px 0px !important;
}

.img_card_item {
  height: 200px;
}

.name_card_item {
  padding: 10px 2px;
  font-weight: bold !important;
  font-size: 18px !important;
}

.story_detail_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
  padding-bottom: 8px;
  color: rgb(103, 103, 103);
}

.item_primary {
  width: 100px;
  font-weight: bold;
  color: #000;
}

.content_header {
  list-style: none;
}

.content_header_detail {
  color: #0dcaf0;
  line-height: 28px;
  font-size: 24px;
}

.img_detail {
  width: 210px;
  height: 290px;
}

.top_container_img {
  width: 80px !important;
  height: 60px;
  overflow: hidden;
}

.top_img_item {
  width: 80px !important;
  height: 80px;
}

.top_name_item,
.top_view_item,
.top_chapter_item {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_container_img,
.top_name_item {
  cursor: pointer;
}

.top_container_detail {
  list-style: none;
}

.top_number_1 {
  color: #0dcaf0;
}

.top_number_2 {
  color: green;
}

.top_number_3 {
  color: red;
}

.top_number {
  font-size: 20px;
}

.container_top_number {
  display: flex;
  align-items: center;
}

.content_header_item {
  font-size: 18px;
  font-weight: 700;
  color: rgb(87, 86, 86);
}

.content_header_list_item {
  border-bottom: 1px dashed #afb3b7;
}

.color_grey {
  color: #828486;
}

.name_chapter {
  text-decoration: none;
}

.name_chapter:hover {
  color: rgb(4, 60, 203) !important;
  font-weight: 700 !important;
}

.chapter_list_view {
  font-size: 12px;
}

.chapter_list_view_time {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.fs-10 {
  font-size: 10px;
}

.slider_list_item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back_ground_opacity {
  opacity: 0.85;
}

.header_dropdown_width {
  width: 500px;
}

.custom-cursor {
  cursor: pointer;
}

.form-check>input {
  cursor: pointer;
}

.over_content {
  overflow: hidden;
  position: relative;
}

.over_content::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.read_more:hover {
  text-decoration: underline;
  color: #226ad0 !important;
}

.bg-grey {
  background-color: #eeeeee;
}

div.dropdown>a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.box-chat {
  height: 400px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* khai báo sử dụng Internet Explorer, Edge */
  scrollbar-width: none;
  /* sử dụng Firefox */
}

.box-chat::-webkit-scrollbar {
  display: none;
  /* cho Chrome, Safari, and Opera */
}

.img_32 {
  width: 32px;
}

.new-content {

  height: 450px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* khai báo sử dụng Internet Explorer, Edge */
  scrollbar-width: none;
  /* sử dụng Firefox */
}

.new-content::-webkit-scrollbar {
  display: none;
  /* cho Chrome, Safari, and Opera */
}